.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_cardSettings{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 648px;
        height: 96vh;
        border: 2px solid #000;
        border-radius: 7px;
        row-gap: 40px;
        &_header{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 58px;
            &_columnLeft{
                display: flex;
                width: 264px;
                height: 70px;
                align-items: center;
                column-gap: 28px;
                &_title{
                    font-family: 'Overpass Mono', monospace;
                    font-weight: 500;
                    font-size: 33px;                    
                }
            }
            &_btnClose{
                cursor: pointer;
                border: none;
                background: none;
            }
        }
        &_btn{
            width: 570px;
            height: 86px;
            border: 2px solid #777;
            border-radius: 10px;
            background: none;
            cursor: pointer;
            font-family: 'Overpass Mono', monospace;
            font-weight: 400;
            font-size: 33px;
        }
        &_SaveButton{
            width: 120px;
        }
    }
}
.test{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgba(82, 78, 78, 0.199);
}